
.menu-header{
    position: absolute;
    right: 140px;
    top: 35px;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    color: #17204d;
  }
  .btn-1 {
  background-color: rgb(0,106,255);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
//   .btn:hover {background: rgb(255, 255, 255);}